.login-form{
    text-align:center;
    padding: 100px 10px;
    margin: 0;
}
.login-form h1 { 
    color:#444444;
    font-size:18px;
    margin:0 0 8px 0;
}
.login-form p {
    color:#777777;
    font-size:14px;
    margin-bottom:30px;
    line-height:24px;
}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.login-form .form-group {
  margin-bottom:10px;
}
.login-form  .btn.btn-primary {
  background: #2fa4f3 none repeat scroll 0 0;
  border-color: #2fa4f3;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  margin-bottom: 15px;
}
.btn:disabled {
  cursor: no-drop;
}
