<main>

  <ngx-loading [show]="loading"></ngx-loading>

  <div class="row justify-content-center login-form">
    <div class="col-sm-12 col-md-4">
      <div *ngIf="isInvalidLink" class="alert alert-danger" role="alert">
        <h3 class="color-primary">Sorry!</h3>
        <p>The link you clicked has expired for your security. Please use this form to generate a new one.</p>
      </div>
      <h1>Email Link Login</h1>
      <p>Enter your email address and we'll send you a magic login link.</p>
  
      <form [formGroup]="loginForm"
            id="loginForm"
            (ngSubmit)="sendEmailLink()">

        <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email Address" formControlName="email" required>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
          <fa-icon [icon]="sendingLink ? faSpinner : faMagic" [spin]="sendingLink" class="mr-2"></fa-icon>
          <span>{{ sendingLink ? 'Sending...' : 'Get Login Link' }}</span>
        </button>

        <div *ngIf="emailSent" class="alert alert-success" role="alert">
          <strong>We sent the login link to your email!</strong>
        </div>

        <div *ngIf="invalidUser" class="alert alert-danger" role="alert">
          <strong>An account was not found for that email address. Please try again.</strong>
        </div>

      </form>
      <p style="color: #000000">New user? <a routerLink="/start">Sign up here.</a></p>
    </div>
  </div>
</main>
