<div class="modal-content">
  <div class="modal-header">
    <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">×</span>
    </button> -->
    <h4 class="modal-title text-center w-100" id="myModalLabel">Customize Your Donation</h4>
  </div>
  <div class="modal-body p-4 text-dark">
    <label for="donationAmount">Donation Amount</label>
    <input [(ngModel)]="donationAmount" type="number" id="donationAmount" class="form-control mb-4" placeholder="Amount">
    <label for="donationSchedule">Donation Schedule</label>
    <select [(ngModel)]="donationSchedule" class="browser-default custom-select mb-4" id="donationSchedule">
      <option value="day">Daily</option>
      <option value="week" selected>Weekly</option>
      <option value="month">Monthly</option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" color="primary" class="relative waves-light" mdbWavesEffect (click)="next()">Save</button>
  </div>
</div>
