<main id="charity-details" role="main" class="pb-5">
  <!-- <div class="action-bar container-fluid">
    <div class="row">
      <div class="back-to-charities col-3">&lt; Back</div>
      <div class="donate-now col-3">Donate Now</div>
      <div class="search-charities col-3">Search Charities</div>
    </div>
  </div> -->
  <div class="hero-charity jumbotron jumbotron-fluid" [ngStyle]="coverStyle">
    <!-- <div class="container">
      <div class="featured">A short description of the photo</div>
    </div> -->
    <div class="logo" [ngStyle]="logoStyle">Make A Wish</div>
  </div>
  <div class="container charity-overview">
    <div class="row category justify-content-center">
      <div class="col-12 col-sm-8">{{ charityCategory }}
        <span class="divide" *ngIf="charity && charity.fields.urgent">/</span>
        <span class="highlight" *ngIf="charity && charity.fields.urgent">Urgent help is needed!</span>
        <span class="modal-trigger btn btn-md btn-outline-primary"(click)="open()" *ngIf="isDonate && initialized">Donate</span>
        <span class="modal-trigger btn btn-md btn-outline-primary"(click)="openManager()" *ngIf="!isDonate && initialized">Manage</span>
      </div>
    </div>
    <div class="row name justify-content-center">
      <div class="col-12 col-sm-8">
        <h1>{{ charityName }}</h1>
      </div>
    </div>
    <div class="row social justify-content-center">
      <div class="col-1">FB</div>
      <div class="col-1">TW</div>
      <div class="col-1">IG</div>
      <div class="col-1">YT</div>
    </div>
  </div>
  <div class="container charity-text">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8">
        <div [innerHTML]="charity && (charity.fields.description | mdToHtml)"></div>
        <div class="media-container">
          <img src="{{ charity && charity.fields.media?.fields.file.url}}">
        </div>
      </div>
    </div>
  </div>
  <div class="container charity-media"></div>
  <div class="container-fluid charity-testimonial">
    <div class="row justify-content-center">
      <div class="col-sm-5 col-12 align-self-center">
        <p>I turned one less Friday Happy Hour drink into $2,800 for the Make a Wish Foundation in just one year.</p>
        <span class="testimonial-name">James Maverick</span>
        <span class="testimonial-city">Atlanta, GA</span>
      </div>
    </div>
  </div>
  <!-- <div class="container news">
    <div class="row headline justify-content-center">
      <div class="col-4">
        <h3>Latest News</h3>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-3">
        <img src="../../../assets/images/news-latest-1.jpg">
      </div>
      <div class="col-5">
        <h5>2017 Walk For Wishes Atlanta</h5>
        <p>The Walk For Wishes Atlanta event raised over $350,000 for local wishes!</p>
        <a class="read-more"
           href="#">Read More</a>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-3">
        <img src="../../../assets/images/news-latest-2.jpg">
      </div>
      <div class="col-5">
        <h5>2017 Walk For Wishes Atlanta</h5>
        <p>The Walk For Wishes Atlanta event raised over $350,000 for local wishes!</p>
        <a class="read-more"
           href="#">Read More</a>
      </div>
    </div>
  </div> -->
  <!-- ##################################################
  Carousel: Charities
  ################################################## -->
  <section class="related-charities">
    <app-charities-carousel [carouselType]="carouselType"></app-charities-carousel>
  </section>

</main>

<router-outlet name="payment-modal"></router-outlet>