section {
	color: black;
	padding: 100px 15px;
}
h3 {
	margin-top: 30px;
}
.signup-form{
    text-align:center;
    padding: 50px 10px;
    margin: 0;
}
.signup-form h1 { 
    color:#444444;
    font-size:18px;
    margin:0 0 8px 0;
}
.signup-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.signup-form .form-group {
  margin-bottom:10px;
}
.signup-form  .btn.btn-primary {
  background: #2fa4f3 none repeat scroll 0 0;
  border-color: #2fa4f3;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.signup-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
