.testimonials {
    .carousel-caption {
        left: 10%;
    }
    .testimonial-card {
        min-height: 40vw;
    }
    .card {
        background-color: #0872ba;
    }
    .card .card-body {
        padding: 3.5rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
        .card-text {
            font-size: 2rem !important;
            color: white !important;
        }
    }
    .card .card-footer {
        text-align: center;
        background-color: transparent;
    }
    .card .card-footer .testimonial-name {
        font-size: 1.25rem;
        font-weight: 700;
        display: block;
    }
    .card .card-footer .testimonial-city {
        font-style: italic;
    }
    .card .card-footer .arrow-right>img,
    .card .card-footer .arrow-left>img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    .card .card-footer .arrow-right>img,
    .card .card-footer .arrow-left>img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}
